<section class="resumen container" id="Resumen">
    <div class="main-titulo">
        <h2>Resumen</h2>
        <span>01.</span>
    </div>
    <div class="row info-resumen">
        <!-- Columna de Educacion -->
        <div class="info-edu col-lg-6">
            <div class="row">
                <div class="titulo-edu col-lg-10">
                    <h3 class="fw-bold"><i class="bi bi-mortarboard-fill"> 
                    Educación</i>
                    </h3>
                </div>
                <div class="col-lg-2 text-center">
                    <i class="bi bi-plus-circle"></i>
                </div>
            </div>
            <div class="shadow">
                <div class="row">
                    <div class="col-lg-10">
                        <h4>trabajo 1</h4> -
                        <h5>(years)</h5>
                        <p><em>Argentina Programa</em></p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash3"></i>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil esse laborum corrupti, aevelit rerum ipsam officia impedit suscipit similique, culpa voluptatum fugit minima
                            excepturiquis! Magni, unde ipsum.
                            </p>
                        </div>
                    </div>
            </div>
            <div class="shadow">
                <div class="row">
                    <div class="col-lg-10">
                        <h4>trabajo 1</h4> -
                        <h5>(years)</h5>
                        <p><em>Argentina Programa</em></p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash3"></i>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil esse laborum corrupti, aevelit rerum ipsam officia impedit suscipit similique, culpa voluptatum fugit minima
                            excepturiquis! Magni, unde ipsum.
                            </p>
                        </div>
                    </div>
            </div>
            <div class="shadow">
                <div class="row">
                    <div class="col-lg-10">
                        <h4>trabajo 1</h4> -
                        <h5>(years)</h5>
                        <p><em>Argentina Programa</em></p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash3"></i>
                    </div>
                </div>
                <li>
                    <div class="row">
                        <div class="col-lg-10">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil esse laborum corrupti, aevelit rerum ipsam officia impedit suscipit similique, culpa voluptatum fugit minima
                            excepturiquis! Magni, unde ipsum.
                            </p>
                        </div>
                    </div>
                </li>
            </div>
        </div>
        <!-- Columna de Educacion -->
        <div class="info-exp col-lg-6">
            <div class="row">
                <div class="titulo-edu col-lg-10">
                    <h3 class="fw-bold"><i class="bi bi-briefcase-fill"> 
                        Experiencia Laboral</i>
                    </h3>
                </div>
                <div class="col-lg-2 text-center">
                    <i class="bi bi-plus-circle"></i>
                </div>
            </div>
            <div class="shadow">
                <div class="row">
                    <div class="col-lg-10">
                        <h4>trabajo 1</h4> -
                        <h5>(years)</h5>
                        <p><em>Argentina Programa</em></p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash3"></i>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil esse laborum corrupti, aevelit rerum ipsam officia impedit suscipit similique, culpa voluptatum fugit minima
                            excepturiquis! Magni, unde ipsum.
                            </p>
                        </div>
                    </div>
            </div>
            <div class="shadow">
                <div class="row">
                    <div class="col-lg-10">
                        <h4>trabajo 1</h4> -
                        <h5>(years)</h5>
                        <p><em>Argentina Programa</em></p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash3"></i>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil esse laborum corrupti, aevelit rerum ipsam officia impedit suscipit similique, culpa voluptatum fugit minima
                            excepturiquis! Magni, unde ipsum.
                            </p>
                        </div>
                    </div>
            </div>
            <div class="shadow">
                <div class="row">
                    <div class="col-lg-10">
                        <h4>trabajo 1</h4> -
                        <h5>(years)</h5>
                        <p><em>Argentina Programa</em></p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash3"></i>
                    </div>
                </div>
                <li>
                    <div class="row">
                        <div class="col-lg-10">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil esse laborum corrupti, aevelit rerum ipsam officia impedit suscipit similique, culpa voluptatum fugit minima
                            excepturiquis! Magni, unde ipsum.
                            </p>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>

<!-- EDITAR MODAL Educación-->
<!-- <ng-template #contentEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title2">Editar Resumen</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm">
  
        <div class="form-group">
          <label for="puesto">Puesto</label>
            <input formControlName="puesto" class="form-control">
        </div>
        <div class="form-group">
          <label for="organismo">organismo</label>
            <input formControlName="organismo" class="form-control">
        </div>
        <div class="form-group">
          <label for="fechaIni">fechaIni</label>
            <input formControlName="fechaIni" class="form-control" type="date">
        </div>
        <div class="form-group">
          <label for="fechaFin">fechaFin</label>
            <input formControlName="fechaFin" class="form-control" type="date">
        </div>
        <div class="form-group">
          <label for="descripcion">descripcion</label>
            <textarea formControlName="descripcion" class="form-control" rows="5" cols="10"></textarea>
        </div>
      </form>
  
  
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" (click)="editar()">Actualizar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
      </div>
    </div>
  </ng-template>
  
  
  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Eliminar Resumen</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3>Esta seguro de eliminar este registro?</h3>
    </div>
    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Eliminar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>
   -->
  <!-- EDITAR MODAL Experiencia Laboral-->
  <!-- <ng-template #contentEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title2">Editar Resumen</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm">
  
        <div class="form-group">
          <label for="puesto">Puesto</label>
            <input formControlName="puesto" class="form-control">
        </div>
        <div class="form-group">
          <label for="organismo">organismo</label>
            <input formControlName="organismo" class="form-control">
        </div>
        <div class="form-group">
          <label for="fechaIni">fechaIni</label>
            <input formControlName="fechaIni" class="form-control" type="date">
        </div>
        <div class="form-group">
          <label for="fechaFin">fechaFin</label>
            <input formControlName="fechaFin" class="form-control" type="date">
        </div>
        <div class="form-group">
          <label for="descripcion">descripcion</label>
            <textarea formControlName="descripcion" class="form-control" rows="5" cols="10"></textarea>
        </div>
      </form>
  
  
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" (click)="editar()">Actualizar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
      </div>
    </div>
  </ng-template>
  
  
  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Eliminar Resumen</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3>Esta seguro de eliminar este registro?</h3>
    </div>
    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Eliminar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template> -->
