<section class="resumen container" id="Resumen">
    <div class="main-titulo">
        <h2>Resumen</h2>
        <span>01.</span>
    </div>
    <div class="row info-resumen">
        <!-- Columna de Educacion -->
        <div class="info-edu col-lg-6">
            <div class="row">
                <div class="titulo-edu col-lg-10">
                    <h3 class="fw-bold"><i class="bi bi-mortarboard-fill"> 
                    Educación</i>
                    </h3>
                </div>
                <div class="col-lg-2 text-center">
                    <i class="bi bi-plus-circle"></i>
                </div>
            </div>
            <div class="shadow">
                <div class="row">
                    <div class="col-lg-10">
                        <h4>trabajo 1</h4> -
                        <h5>(years)</h5>
                        <p><em>Argentina Programa</em></p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash3"></i>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil esse laborum corrupti, aevelit rerum ipsam officia impedit suscipit similique, culpa voluptatum fugit minima
                            excepturiquis! Magni, unde ipsum.
                            </p>
                        </div>
                    </div>
            </div>
            <div class="shadow">
                <div class="row">
                    <div class="col-lg-10">
                        <h4>trabajo 1</h4> -
                        <h5>(years)</h5>
                        <p><em>Argentina Programa</em></p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash3"></i>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil esse laborum corrupti, aevelit rerum ipsam officia impedit suscipit similique, culpa voluptatum fugit minima
                            excepturiquis! Magni, unde ipsum.
                            </p>
                        </div>
                    </div>
            </div>
            <div class="shadow">
                <div class="row">
                    <div class="col-lg-10">
                        <h4>trabajo 1</h4> -
                        <h5>(years)</h5>
                        <p><em>Argentina Programa</em></p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash3"></i>
                    </div>
                </div>
                <li>
                    <div class="row">
                        <div class="col-lg-10">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil esse laborum corrupti, aevelit rerum ipsam officia impedit suscipit similique, culpa voluptatum fugit minima
                            excepturiquis! Magni, unde ipsum.
                            </p>
                        </div>
                    </div>
                </li>
            </div>
        </div>
        <!-- Columna de Educacion -->
        <div class="info-exp col-lg-6">
            <div class="row">
                <div class="titulo-edu col-lg-10">
                    <h3 class="fw-bold"><i class="bi bi-briefcase-fill"> 
                        Experiencia Laboral</i>
                    </h3>
                </div>
                <div class="col-lg-2 text-center">
                    <i class="bi bi-plus-circle"></i>
                </div>
            </div>
            <div class="shadow">
                <div class="row">
                    <div class="col-lg-10">
                        <h4>trabajo 1</h4> -
                        <h5>(years)</h5>
                        <p><em>Argentina Programa</em></p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash3"></i>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil esse laborum corrupti, aevelit rerum ipsam officia impedit suscipit similique, culpa voluptatum fugit minima
                            excepturiquis! Magni, unde ipsum.
                            </p>
                        </div>
                    </div>
            </div>
            <div class="shadow">
                <div class="row">
                    <div class="col-lg-10">
                        <h4>trabajo 1</h4> -
                        <h5>(years)</h5>
                        <p><em>Argentina Programa</em></p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash3"></i>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil esse laborum corrupti, aevelit rerum ipsam officia impedit suscipit similique, culpa voluptatum fugit minima
                            excepturiquis! Magni, unde ipsum.
                            </p>
                        </div>
                    </div>
            </div>
            <div class="shadow">
                <div class="row">
                    <div class="col-lg-10">
                        <h4>trabajo 1</h4> -
                        <h5>(years)</h5>
                        <p><em>Argentina Programa</em></p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <i class="bi bi-pencil-square"></i>
                        <i class="bi bi-trash3"></i>
                    </div>
                </div>
                <li>
                    <div class="row">
                        <div class="col-lg-10">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil esse laborum corrupti, aevelit rerum ipsam officia impedit suscipit similique, culpa voluptatum fugit minima
                            excepturiquis! Magni, unde ipsum.
                            </p>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
