.login-box {
    width: 320px;
    height: 280px;
    background: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 30px 30px;
    box-sizing: border-box;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 16px;
}