<!-- Seccion Sobre Mí/Home-->
<section class="home-info container" id="SobreMi">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-4 text-center content-borders" id="home-icons">
                    <a href="#"><i class="bi bi-github" style="color:#9900ff;" id="github"></i></a>
                    <a href="#"><i class="bi bi-linkedin" style="color:#0471ff;" id="linkedin"></i></a>
                    <a href="#"><i class="bi bi-discord" style="color:#ff6600;" id="discord"></i></a>
                </div>
                <div class="col-8 content-borders">
                    <div class="position-relative d-flex aling-iteams-center justify-content-center">
                        <h1 class="decoracion"  id="probando"> SOBRE MÍ</h1>
                        <h3 class="position-absolute fw-bold" id="section-title">Sobre mí</h3>
                    </div>
                    <div class="row content-borders">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo pariatur ex eos excepturi ut itaque quibusdam aliquid maxime quis voluptatum soluta quia similique laborum, vero totam nesciunt magni odio aspernatur?
                        </p>
                    </div>
                    <div class="row content-borders">
                        <a href="#" class="btn btn-primary">
                            Descargar CV <i class="bi bi-arrow-down-circle-fill"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <img src="../assets/perfil2.png" id="home-perfil" class="img-fluid">
                <i class="edit-icon bi bi-pencil-square"></i>
            </div>
        </div>
    </div>
</section>
